@import '../layout.scss';

.tsel-paper{
    box-sizing: border-box;
    overflow: hidden;
    min-height: 120px;
    &.variant-1{
        border-radius: 0 16px;
    }
    &.variant-2{
        border-radius: 10px 10px 10px 0;
    }
    &.variant-3{
        border-radius: 10px 10px 10px 0;
    }
    &.shadow-0{
        box-shadow: none;
    }
    &.shadow-1{
        box-shadow: 0 2px 2px rgba(158, 158, 158, 0.2);
    }
}