@import '../layout.scss';

.tsel-hero{
    min-height: 460px;
    background: linear-gradient(101.59deg, #ED0226 64.15%, #FDA22B 102.41%);
    @extend .text-white;
    transition: all 200ms ease-in-out 0s;
    padding: 20px;
}

@media screen and (min-width: 980px) {
    .tsel-hero{
        border-radius: 0 0 0 100px;
        transition: all 100ms ease 0s;
        padding: 50px 100px 0 100px;
    }
  }
  